
/* Header Style */
header {
    background-image: url('../images/banner/banner3.png');
    /* background-repeat: no-repeat;
    background-position: cover;
    height: 100%;
    width: 100%;
    position: absolute; */
    position: absolute;
    width: 1600px;
    height: 808px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 2421px;
}

/* nav {
    margin-top: 216px;
    margin-left: 845px;
    position: absolute;
} */
nav h3 {
    /* height: 228px;
    width: 325px;
    direction: rtl;
    font-size: 40px;
    color: #FFFF;
    position: absolute; */
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    right: 230px;
    top: 216px;
    bottom: 2785px; 

    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: 0%;
    text-align: right;
}

nav p {
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    right: 230px;
    top: 468px;
    bottom: 2683px;

    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: right;

    margin-top: 50px;
}

nav button {
    width: 160px;
    height: 64px;
    padding: 20px 25px 21px 26px;
    top: 578px;
    bottom: -578px;
    left: 1210px;
    right: -1210px;
    position: relative;
}

nav button span {
    /* Contact Us */
    /* position: absolute; */
    width: 109px;
    height: 23px;
    left: 1236px;
    right: -1185px;
    top: 599px;
    bottom: -558px;

    color: rgb(0, 95, 172);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: right;
}

/* Main section styles */
section .about {
    display: flex;
}

.about .picture {
    /* Mask group */
    position: absolute;
    width: 569px;
    height: 723.3px;
    left: 206px;
    right: -206px;
    top: 939px;
    bottom: -939px;
}

.about h3 {
    /* My failures of previous year */
    position: absolute;
    width: 288px;
    height: 94px;
    left: 862px;
    right: -734px;
    top: 1178px;
    bottom: -872px;

    color: rgb(21, 20, 20);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: left;
}

.about .lorem {
    position: absolute;
    width: 416px;
    height: 104px;
    left: 862px;
    right: -862px;
    top: 1296px;
    bottom: -1000px;

    color: rgb(68, 67, 67);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;

    margin-top: 35px;
}

.icon {
    /* Group 9 */
    position: absolute;
    width: 349px;
    height: 162px;
    left: 862px;
    right: -795px;
    top: 1416px;
    bottom: -1178px;
}

.icon p {
    color: rgb(68, 67, 67);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

i {
    color: rgb(22, 216, 135);
}
.icon span{
    margin-left: 10px;
}

.myplan {
    /* My Plans */
    position: absolute;
    width: 179px;
    height: 47px;
    left: 695px;
    right: -695px;
    top: 1792px;
    bottom: 1390px;

    color: rgb(21, 20, 20);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: center;
}

.website {
    /* Group 3982 */
    position: absolute;
    width: 1141px;
    height: 202.96px;
    left: 230px;
    right: 229px;
    top: 1889px;
    bottom: 1137.04px;
    display: flex;
}

.web-sec {
    /* Group 17 */
    /* position: absolute; */
    text-align: center;
}
.website h1 {
    /* Web Development */
    /* position: absolute; */
    width: 270px;
    height: 35px;
    /* left: 230px;
    right: -230px; */
    top: 2011.96px;
    bottom: -1966.96px;

    color: rgb(21, 20, 20);
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;

    margin-bottom: 0px;
}
.website p{
    /* I want to start */
    /* position: absolute; */
    width: 177px;
    height: 29px;
    left: 277px;
    right: -184px;
    top: 2000.96px;
    bottom: -2000.96px;

    color: rgb(115, 114, 114);
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;

    margin-left: 50px;
}

.last-img {
    /* Rectangle 4 */
    position: absolute;
    width: 1140px;
    height: 300px;
    left: 230px;
    right: 230px;
    top: 2221.96px;
    bottom: 707.04px;

    border-radius: 8px;
    /* background: linear-gradient(90.00deg, rgb(0, 95, 172),rgba(0, 95, 172, 0) 100%); */

    background-image: url('../images/watch.png');
}

.last-img .gradient {
    position: absolute;
        background: linear-gradient(90.00deg, rgb(0, 95, 172),rgba(0, 95, 172, 0) 100%);
        width: 100%;
        height: 100%;
}

.content {
    padding-left: 55px;
}
.content h1 {
    /* Awlays keep a positive mindset */
    /* position: absolute; */
    width: 459px;
    height: 94px;
    left: 294px;
    right: -294px;
    top: 2280.96px;
    bottom: -2192.96px;

    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: left;
}

.content button {
    /* Rectangle 1 */
    /* position: absolute; */
    width: 160px;
    height: 64px;
    left: 294px;
    right: -294px;
    top: 2398.96px;
    bottom: -2398.96px;

    border-radius: 5px;
    background: rgb(255, 255, 255);
}

.content span {
    /* Call Now */
    /* position: absolute; */
    width: 88px;
    height: 23px;
    left: 330px;
    right: -258px;
    top: 2419.96px;
    bottom: -2378.96px;

    color: rgb(0, 95, 172);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

footer{
    /* Rectangle 5 */
    position: absolute;
    width: 1600px;
    height: 577px;
    left: 0;
    right: 0;
    top: 2651.96px;
    bottom: 0.04px;

    /* Dark 01 */
    background: rgb(21, 20, 20);

    display: flex;
}

.footer-column {
    /* Group 3936 */
    /* position: absolute; */
    /* width: 485px;
    height: 317px; */
    /* left: 230px;
    right: 885px; */
    /* top: 2781.96px;
    bottom: 130.04px; */

    margin-top: 90px;
}

.footer-column h1 {
    /* Future */
    position: absolute;
    width: 148px;
    height: 53px;
    left: 230px;
    right: 107px;
    /* top: 2781.96px;
    bottom: -2517.96px; */

    color: rgb(248, 248, 248);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: left;
}

.footer-exp {
    position: absolute;
    width: 485px;
    height: 78px;
    left: 230px;
    right: -230px;
    /* top: 2850.96px;
    bottom: -2611.96px; */

    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;

    margin-top: 90px;
}

.link {
    /* Group 3935 */
    position: absolute;
    width: 186px;
    height: 146px;
    left: 230px;
    right: 69px;
    /* top: 2952.96px;
    bottom: -2781.96px; */
    top: 250px;
}

a {
    /* Email : info@gmail.com */
    /* position: absolute; */
    width: 184px;
    height: 26px;
    left: 230px;
    right: -230px;
    /* top: 2952.96px;
    bottom: -2952.96px; */

    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}

.footer-column2 {
    /* Group 3976 */
    position: absolute;
    width: 325px;
    height: 204px;
    left: 1046px;
    right: 229px;
    /* top: 2781.96px;
    bottom: 243.04px; */
}

.footer-column2 h1 {
    /* Subscribe */
    /* position: absolute; */
    width: 123px;
    height: 29px;
    /* left: 1046px; */
    right: -844px;
    /* top: 2781.96px;
    bottom: -2606.96px; */

    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;

    margin-top: 100px;
}

input {
    /* Rectangle 38 */
    /* position: absolute; */
    width: 325px;
    height: 64px;
    left: 1046px;
    top: 2841.96px;

    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;

    background-color: black;
    color: aliceblue;
    padding: 20px;

}

input::placeholder {
    /* Enter your email */
    /* position: absolute; */
    width: 146px;
    height: 21px;
    left: 1067px;
    right: -888px;
    top: 2862.96px;
    bottom: -2819.96px;

    color: rgb(243, 243, 243);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;

    padding-left: 20px;
}

.footer-column2 button {
    /* Rectangle 48 */
    /* position: absolute; */
    width: 170.11px;
    height: 64px;
    left: 1046px;
    right: -1046px;
    top: 2921.96px;
    bottom: -2921.96px;

    border-radius: 8px;
    background: rgb(0, 95, 172);

    margin-top: 10px;
}

.footer-column2 span {
    /* Subscribe */
    /* position: absolute; */
    width: 98.06px;
    height: 24px;
    left: 1082.02px;
    right: -1009.98px;
    top: 2941.96px;
    bottom: -2901.96px;

    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}